name: cctools prebuilt
on: workflow_dispatch
jobs:
  build:
    name: cctools [${{matrix.arch}}-${{matrix.os}}]
    runs-on: ${{matrix.runner}}
    strategy:
      fail-fast: false
      matrix:
        arch: [ x86_64, aarch64 ]
        os: [ ubuntu-20.04, ubuntu-22.04, ubuntu-24.04 ]

        include:
          - os: ubuntu-20.04
            arch: x86_64
            runner: ubuntu-20.04
          - os: ubuntu-22.04
            arch: x86_64
            runner: ubuntu-22.04
          - os: ubuntu-24.04
            arch: x86_64
            runner: ubuntu-24.04
          - os: ubuntu-22.04
            arch: aarch64
            runner: ubuntu-22.04-arm
          - os: ubuntu-24.04
            arch: aarch64
            runner: ubuntu-24.04-arm

        exclude:
          - os: ubuntu-20.04
            arch: aarch64

    steps:
      - name: Configure Linux runner
        run: |
          sudo apt update
          sudo apt install git xz-utils ninja-build
          sudo apt install libssl-dev libxml2-dev liblzma-dev libbz2-dev

      - name: Build libxar
        run: |
          git clone https://github.com/tpoechtrager/xar.git
          cd xar/xar
          ./autogen.sh
          ./configure --prefix=/tmp/cctools
          make
          make install
          rm /tmp/cctools/lib/libxar.la
          mv $(readlink -f /tmp/cctools/lib/libxar.so) /tmp/cctools/lib/libxar.so
          cd ..

      - name: Build libtapi
        run: |
          git clone https://github.com/tpoechtrager/apple-libtapi.git
          cd apple-libtapi
          INSTALLPREFIX=/tmp/cctools ./build.sh
          ./install.sh
          mv $(readlink -f /tmp/cctools/lib/libtapi.so) /tmp/cctools/lib/libtapi.so
          cd ..

      - name: Build libdispatch
        run: |
          git clone https://github.com/tpoechtrager/apple-libdispatch.git
          cd apple-libdispatch
          cmake -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_INSTALL_PREFIX="/tmp/cctools" .
          ninja
          ninja install
          cd ..

      - name: Build cctools
        run: |
          git clone https://github.com/tpoechtrager/cctools-port.git
          cd cctools-port/cctools
          ./configure --prefix=/tmp/cctools --with-libtapi=/tmp/cctools --with-libxar=/tmp/cctools \
            --with-libdispatch=/tmp/cctools --with-libblocksruntime=/tmp/cctools
          make
          make install
          cd ../..

      - name: Package cctools
        run: |
          mv /tmp/cctools ./cctools-${{matrix.arch}}-${{matrix.os}}
          tar -cJf cctools-${{matrix.arch}}-${{matrix.os}}.tar.xz cctools-${{matrix.arch}}-${{matrix.os}}

      - name: Upload cctools package
        uses: actions/upload-artifact@v4
        with:
          name: cctools-${{matrix.arch}}-${{matrix.os}}
          path: cctools-${{matrix.arch}}-${{matrix.os}}.tar.xz
