name: LLVM prebuilt
on: workflow_dispatch
jobs:
  build:
    name: LLVM ${{matrix.version}} [${{matrix.arch}}-${{matrix.os}}] ${{matrix.distro}}
    runs-on: ${{matrix.runner}}
    strategy:
      fail-fast: false
      matrix:
        arch: [ x86_64, aarch64 ]
        os: [ windows, macos, linux ]
        distro: [ none, ubuntu-18.04, ubuntu-20.04 ]
        version: [ 12.0.1 ]

        exclude:
          - os: windows
            distro: ubuntu-18.04
          - os: windows
            distro: ubuntu-20.04
          - os: macos
            distro: ubuntu-18.04
          - os: macos
            distro: ubuntu-20.04
          - os: linux
            distro: none

        include:
          - version: 12.0.1
            branch: release/12.x

          - os: windows
            runner: windows-2019
          - os: macos
            runner: macos-10.15
          - os: linux
            distro: ubuntu-18.04
            runner: ubuntu-18.04
          - os: linux
            distro: ubuntu-20.04
            runner: ubuntu-20.04

          - arch: x86_64
            os: windows
            msvc: amd64
          - arch: aarch64
            os: windows
            msvc: amd64_arm64

          - arch: x86_64
            os: macos
            osx_arch: x86_64
          - arch: aarch64
            os: macos
            osx_arch: arm64

          - arch: aarch64
            os: linux
    steps:
      - name: Configure Windows runner
        if: runner.os == 'Windows'
        run: |
          choco install ninja 7zip

      - name: Configure macOS runner
        if: runner.os == 'macOS'
        run: |
          brew install ninja
          echo "MACOSX_DEPLOYMENT_TARGET=10.12" >> $GITHUB_ENV

      - name: Configure Linux runner
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt install xz-utils libxml2-dev
          sudo apt install ninja-build
          sudo apt install g++-aarch64-linux-gnu
          mkdir libxml2-dev-arm64 && cd libxml2-dev-arm64
          wget http://ports.ubuntu.com/pool/main/libx/libxml2/libxml2-dev_2.9.4+dfsg1-6.1ubuntu1.4_arm64.deb
          ar -x libxml2-dev_2.9.4+dfsg1-6.1ubuntu1.4_arm64.deb
          tar -xf data.tar.xz
          sudo cp -R ./usr/lib/aarch64-linux-gnu/ /usr/lib/aarch64-linux-gnu

      - name: Clone project
        uses: actions/checkout@v2
        with:
          path: llvm-prebuilt

      - name: Clone LLVM ${{matrix.version}}
        uses: actions/checkout@v2
        with:
          repository: llvm/llvm-project
          ref: ${{matrix.branch}}
          path: llvm-project

      - name: Patch LLVM
        run: |
          git -C llvm-project apply ../llvm-prebuilt/patches/0001-add-lld-install-targets.patch

      - name: Enable Windows host environment
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64

      - name: Configure LLVM host tools
        run: "cmake -G Ninja -S llvm-project/llvm -B llvm-host
                    -DCMAKE_BUILD_TYPE=Release
                    -DLLVM_ENABLE_PROJECTS=clang
                    -Wno-dev"

      - name: Build LLVM host tools
        shell: pwsh
        run: |
          cmake --build llvm-host --target llvm-tblgen clang-tblgen llvm-config
          $HostBinPath = "$Env:GITHUB_WORKSPACE/llvm-host/bin"
          $ExeExt = if ($IsWindows) { ".exe" } else { "" }
          echo "LLVM_TABLEGEN=$HostBinPath/llvm-tblgen$ExeExt" >> $Env:GITHUB_ENV
          echo "CLANG_TABLEGEN=$HostBinPath/clang-tblgen$ExeExt" >> $Env:GITHUB_ENV
          echo "LLVM_CONFIG_PATH=$HostBinPath/llvm-config$ExeExt" >> $Env:GITHUB_ENV

      - name: Enable Windows target environment
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{matrix.msvc}}

      - name: Configure LLVM
        shell: pwsh
        run: |
          $TargetName = "${{matrix.arch}}-${{matrix.os}}"
          $CMakeCache = "$Env:GITHUB_WORKSPACE/llvm-prebuilt/cmake/$TargetName.cmake"
          cmake -G Ninja -S llvm-project/llvm -B llvm-build `
            -DCMAKE_INSTALL_PREFIX=llvm-install `
            -C $CMakeCache -Wno-dev

      - name: Build LLVM
        run: cmake --build llvm-build

      - name: Install LLVM
        run: cmake --build llvm-build --target install-distribution

      - name: Package LLVM
        if: runner.os != 'Windows'
        run: |
          mv llvm-install clang+llvm-${{matrix.version}}-${{matrix.arch}}-${{matrix.os}}
          tar -cJf clang+llvm-${{matrix.version}}-${{matrix.arch}}-${{matrix.os}}.tar.xz clang+llvm-${{matrix.version}}-${{matrix.arch}}-${{matrix.os}}

      - name: Package LLVM
        if: runner.os == 'Windows'
        run: |
          ren llvm-install clang+llvm-${{matrix.version}}-${{matrix.arch}}-${{matrix.os}}
          cmd.exe /c "7z a -ttar -snl -so clang+llvm-${{matrix.version}}-${{matrix.arch}}-${{matrix.os}}.tar clang+llvm-${{matrix.version}}-${{matrix.arch}}-${{matrix.os}} | 7z a -si clang+llvm-${{matrix.version}}-${{matrix.arch}}-${{matrix.os}}.tar.xz"

      - name: Upload LLVM package
        uses: actions/upload-artifact@v2
        with:
          name: clang+llvm-${{matrix.version}}-${{matrix.arch}}-${{matrix.os}}
          path: clang+llvm-${{matrix.version}}-${{matrix.arch}}-${{matrix.os}}.tar.xz
