name: Rust prebuilt
on: workflow_dispatch
jobs:
  build:
    name: Rust [${{matrix.arch}}-${{matrix.os}}-${{matrix.version}}]
    runs-on: ${{matrix.runner}}
    strategy:
      fail-fast: false
      matrix:
        arch: [ x86_64 ]
        os: [ windows, macos, ubuntu-20.04, ubuntu-22.04 ]
        version: [ 1.64.0 ]

        include:
          - os: windows
            runner: windows-2022
          - os: macos
            runner: macos-latest
          - os: ubuntu-20.04
            runner: ubuntu-20.04
          - os: ubuntu-22.04
            runner: ubuntu-22.04
  
    steps:
      - name: Configure Windows runner
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          choco install ninja 7zip
          Install-Module VsDevShell -Force
          docker system prune -a -f # free some space on C:\
          New-Item -Path "C:\rust" -ItemType Directory | Out-Null

      - name: Configure macOS runner
        if: runner.os == 'macOS'
        run: |
          brew install ninja
          echo "MACOSX_DEPLOYMENT_TARGET=10.12" >> $GITHUB_ENV

      - name: Configure Linux runner
        if: runner.os == 'Linux'
        run: |
          sudo apt update
          sudo apt install ninja-build xz-utils

      - name: Setup dynamic variables
        id: dynamic-variables
        shell: pwsh
        run: |
          $RustBuildDir = if ($IsWindows) { "C:\rust" } else { "${{runner.temp}}" }
          echo "::set-output name=rust-build-dir::$RustBuildDir"

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Clone project
        uses: actions/checkout@v2
        with:
          path: llvm-prebuilt

      - name: Clone Rust ${{matrix.version}}
        uses: actions/checkout@v3
        with:
          repository: rust-lang/rust
          ref: ${{matrix.version}}
          submodules: true
          fetch-depth: 1
          path: rust

      - name: Patch Rust
        shell: pwsh
        run: |
          git -C rust apply ../llvm-prebuilt/patches/rust-${{matrix.version}}-allow-dynamic-linking-for-ios-targets.patch

      - name: Configure Rust
        shell: pwsh
        working-directory: rust
        run: |
          $config = @(
            "changelog-seen=2",
            "[llvm]",
            "download-ci-llvm=false",
            "ninja=true",
            "targets=`"X86;ARM;AArch64;WebAssembly`""
            "[build]",
            "docs=false",
            "build-dir=`"${{steps.dynamic-variables.outputs.rust-build-dir}}`"",
            "[install]",
            "[rust]",
            "channel=`"stable`"",
            "dist-src=false",
            "[dist]",
            "src-tarball=false",
            "compression-formats=[`"xz`"]"
          )
          Set-Content -Path .\config.toml -Value $config

      - name: Build Rust
        shell: pwsh
        working-directory: rust
        run: |
          Remove-Item Env:GITHUB_ACTIONS
          python x.py build

      - name: Package Rust
        shell: pwsh
        working-directory: rust
        run: |
          Remove-Item Env:GITHUB_ACTIONS
          python x.py dist

      - name: Upload Rust
        uses: actions/upload-artifact@v3
        with:
          name: rust-${{matrix.version}}-${{matrix.arch}}-${{matrix.os}}
          path: ${{steps.dynamic-variables.outputs.rust-build-dir}}/build/dist
